body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 25px;}
.bg-1 {
    background-color: #1abc9c; 
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; 
    color: #ffffff;
}

 .bg-3{
    background-color: #ffffff; 
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f; 
    color: #fff;
}
.bg-5 {
    background-color: #5B2C6F; 
    color: #ffffff;
}

.container-fluid {
    padding-top: 40px;
    padding-bottom: 70px;
}
h5{
    color:#ffffff;
}
.heading{
color:#aaaaaa;}
.container{
    color:#aaaaaa;
}
.blog-footer{
    color:black;
}
.container1{
    color:#aaaaaa;
}
.blogs{
    color:#E67E22;
}
.blog p{
    color:#ffffff;
}