body {
    font-family: sans-serif;
    background-color:#F9E79F;
    margin-top: 25px;
}

.center {
    text-align: center;
}

.cemter img{
     height: 200px;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    width: auto;
}

.container{
    max-width:800px;
    margin: 0 auto;
    font-family: sans-serif;
    padding-top:60px;
    padding-right:20px;
    padding-left:20px;
}
